* {
	margin: 0;
	padding: 0;
	list-style: none;
	outline: none;
	text-decoration: none;
	font-family: Hiragino Sans GB, Microsoft Yahei, "Arial";
}

header {
	position: relative;
	background-color: rgb(232, 233, 227);
}

#bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	background: linear-gradient(to bottom, rgb(44, 103, 104), rgb(203, 217, 231));
}

header > #title > #top_logo {
	width: 40%;
	margin-left: 15%;
}

header > #navigator {
	display: flex;
	font-family: SimHei, "LiHei Pro Medium", "Arial";
	align-items: center;
	flex-direction: row;
	margin-left: 20%;
}

.nav_btn {
	margin: 0 20px;
	padding: 10px 20px 10px 20px;
	color: #333;
	cursor: pointer;
	border-radius: 10px 10px 0 0;
	transition: all 0.4s;
}

.selected, .op_btn:hover, .nav_btn:hover{
	color: #eee;
	background-color: rgb(31, 77, 78);
}

.cutting_line {
	width: 100%;
	height: 6px;
	background-color: rgb(31, 77, 78);
}

.view {
	position: absolute;
	display: flex;
	left: 10%;
	height: 70%;
	width: 80%;
	padding: 30px;
	margin: 20px 0;
	box-shadow: 1px 1px 5px #aaa;
	background: rgba(236, 236, 236, 0.5);
	transition: all 0.7s;
	transform: translate3d(-150%, 0, 0);
}

.current {
	transform: translate3d(0, 0, 0);
}

#video_area {
	justify-content: space-around;
	align-items: center;
}

#video_area > #main_video {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	flex: 4;
	height: 100%;
}

#video_play {
	height: 100%;
	width: 100%;
}

#video_control {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	align-self: stretch;
}

#video_control > .op_btn {
	margin: 0 9%;
}

#video_list {
	flex: 1;
	align-self: stretch;
	overflow: auto;
	background-color: rgb(200, 210, 220);
	border-radius: 10px;
	padding: 10px;
}

#video_list > ul > li {
	padding: 10px 0 10px 5px;
	border-radius: 10px;
	cursor: pointer;
	transition: all 0.7s;
}

.playing, #video_list > ul > li:hover {
	background-color: rgb(232, 233, 228);
}

#main > div {
	flex: 1;
	align-self: stretch;
}

#sub_area {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-self: stretch;
}

.box {
	border-radius: 10px;
	padding: 10px;
	background-color: rgba(233, 233, 233, 0.7);
	box-shadow: 0 4px 5px #aaa;
	margin: 7px;
}

#equipment_area {
	align-self: stretch;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

#equipment_area > p {
	margin: 20px;
}

#desc_area {
	flex: 2;
	overflow: auto;
	align-self: stretch;
}

#instruction_area {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#instruction_area > .box {
	width: 100%;
}

.tag {
	margin: 20px 10px;
	font-weight: bold;
	font-size: 20px;
}

#instruction_area > #pdf_preview {
	flex: 2;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: flex-start;
}

.pdf {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	align-items: center;
	height: 75%;
	width: 17%;
	margin: 20px;
	padding: 10px;
	font-size: 23px;
	background-color: rgb(191, 220, 210);
	border-radius: 0 10px 10px 0;
	box-shadow: 2px 2px 4px #aaa;
	cursor: pointer;
	transition: all 0.4s;
}

.pdf > p {
	margin: 20% 0;
}

.selected_pdf, .pdf:hover {
	background-color: #aaa;
}

#instruction_area > #read_control {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
}

#control_center {
	flex: 1;
	display: flex;
	align-self: stretch;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.op_btn {
	width: 30%;
	text-align: center;
	font-family: SimHei, "LiHei Pro Medium", "Arial";
	margin-left: 5%;
	margin-right: 5%;
	padding: 7px 0;
	border-radius: 5px;
	background-color: rgb(192, 210, 220);
	box-shadow: 0 0 5px #eee;
	cursor: pointer;
	transition: all 0.3s;
}

#loading_token {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 200px;
	height: 200px;
	margin: -100px 0 0 -100px;
	z-index: 9999;
	transform: scale3d(0, 0, 0);
	transition: all 0.3s;
}

#mask_for_mask, #mask {
	position: absolute;
	display: none;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #aaa;
	opacity: 0.7;
	z-index: 9995;
}

#mask_for_mask {
	z-index: 999999;
}

#user_mask {
	position: absolute;
	top: 2%;
	right: 5%;
	width: 30px;
	height: 30px;
	cursor: pointer;
	background-color: transparent;
}

#login_panel {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	top: 50%;
	left: 50%;
	width: 600px;
	height: 400px;
	margin: -210px 0 0 -310px;
	border-radius: 10px;
	padding: 20px;
	background-color: #fff;
	transform: translate3d(0, -250%, 0);
	transition: all 0.4s;
	z-index: 9998;
}

#login_panel > #action_switch {
	align-self: stretch;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

#login_panel > #action_switch > p {
	font-size: 21px;
	padding: 0 15px;
	margin: 0 0 20px 0;
	color: rgb(72, 116, 117);
	border-bottom: 1px solid rgb(181, 191, 190);
	transition: all 0.3s;
	cursor: pointer;
	box-sizing: border-box;
}

.current_action, #login_panel > #action_switch > p:hover {
	font-weight: bold;
	padding: 0 20px;
	border-bottom: 4px solid rgb(181, 191, 190);
}

#login_panel > input {
	width: 70%;
	padding: 10px;
	border: 2px solid #eee;
	border-radius: 10px;
	font-size: 12px;
	margin: 10px;
	background: transparent;
}

#login_panel > button {
	width: 30%;
	height: 40px;
	font-size: 12px;
	border-radius: 10px;
	cursor: pointer;
	transition: all 0.4s;
	margin-top: 10px;
	border: none;
	color: #ccc;
	background-color: rgb(72, 116, 117);
}

#login_panel > button:hover {
	color: #eee;
	font-size: 15px;
	background-color: rgb(181, 191, 190);
}

#login_panel > input::-webkit-input-placeholder {
	color: #aaa;
}

#login_panel > input::-moz-placeholder {   /* Mozilla Firefox 19+ */
	color: #aaa;
}

#login_panel > input:-ms-input-placeholder {  /* Internet Explorer 10-11 */ 
	color: #aaa;
}

#greeting {
	position: absolute;
	top: 10%;
	left: -350%;
	width: 120px;
	z-index: 0;
}

#user_tooltip {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 300px;
	height: 300px;
	margin: -145px 0 0 -145px;
	background-color: #eee;
	border-radius: 20px;
	box-shadow: 1px 1px 3px #aaa;
	padding: 10px;
	z-index: 9997;
	transform: translate3d(0, -200%, 0);
	transition: all 0.4s;
}

#user_tooltip > #tooltip_greeting {
	font-size: 25px;
	font-weight: bold;
}

#user_tooltip > .control_area {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	align-self: stretch;
}

#cancel_tooltip {
	font-size: 17px;
	width: 40px;
	padding: 5px;
	text-align: center;
	float: right;
	cursor: pointer;
}

#user_tooltip > .control_area > button {
	height: 30px;
	width: 100px;
	border: none;
	border-radius: 10px;
	box-shadow: 1px 1px 3px #000;
	cursor: pointer;
	transition: all 0.3s;
}

#user_tooltip > .control_area > button:hover {
	background-color: #aaa;
	color: #fff;
}

#user_tooltip > .tooltip_item {
	padding: 10px;
	margin: 10px;
}


#admin_area {
	display: flex;
	flex-direction: row;
	position: absolute;
	top: 0;
	width: 0;
	width: 100%;
	height: 100%;
	background-color: rgb(191, 210, 222);
	transition: all 0.3s;
	transform: scale3d(1, 0, 1);
	transform-origin: bottom;
}

#sidebar {
	display: flex;
	flex-direction: column;
	align-content: flex-start;
	align-items: flex-start;
	flex: 1;
	background-color: rgb(161, 172, 182);
}

#aside_title {
	flex: 1;
	align-self: stretch;
	margin: 10px;
	height: 50px;
	color: #eee;
}

#sidebar > ul {
	display: flex;
	align-self: stretch;
	flex-direction: column;
	flex: 49;
}

.aside_list {
	padding: 10px 4px;
	margin-bottom: 5px;
	width: 100%;
	box-sizing: border-box;
	transition: all 0.5s;
}

.aside_selected, .aside_list:hover {
	background-color: rgb(76, 76, 76);
}

.aside_select {
	display: block;
	color: #fff;
}

.aside_select > span {
	display: inline-block;
	line-height: 1.5;
	margin-left: 20px;
}

.control_area {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	flex: 2;
}

.control_area > #icon-close {
	padding: 10px 20px;
	cursor: pointer;
	stroke: #eee;
	fill: #eee;
	transition: all 0.3s;
}

.control_area > #icon-close:hover {
	stroke: #aaa;
	fill: #aaa;
}

#admin_main_area {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	flex: 4;
	padding: 0 16px;
}

.action_area {
	flex: 2;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: row;
}

.action_bar, .action_btn {
	padding: 5px 15px;
	margin: 0 5px;
	border-radius: 3px;
	border: 1px solid #bbb;
	background-color: #aaa;
	cursor: pointer;
	font-size: 14px;
	color: #eee;
	transition: all 0.4s;
}

.action_bar:hover, .action_btn:hover {
	color: #fff;
	background-color: rgb(77, 77, 77);
}

.action_disable, .action_disable:hover {
	cursor: not-allowed;
	color: #e2e2e2;
	background-color: #e8e8e8;
}

.manager_area {
	flex: 26;
	display: flex;
	flex-direction: column;
}

.desc_area_head {
	flex: 2;
	width: 100%;
	padding: 8px 0;
	background-color: rgb(190, 195, 211);
	border-top: 2px solid rgb(180, 190, 200);
	border-bottom: 2px solid rgb(180, 190, 200);
}

.desc_area_body_fixed {
	flex: 14;
	align-self: stretch;
	overflow: auto;
}

.desc_area_body {
	width: 100%;
	padding: 8px 0;
	overflow: auto;
}

.desc_area_head > thead > tr > th, .desc_area_body > tbody > tr > td {
	text-align: left;
	word-break: break-word;
}

.desc_area_body > tbody > tr > td {
	padding: 6px 0;
	text-overflow: "...";
	box-sizing: border-box;
	border-bottom: 2px solid rgb(171, 171, 171);
}


#admin_inputbox {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 300px;
	height: 200px;
	margin: -110px 0 0 -160px;
	background-color: #fff;
	border-radius: 20px;
	padding: 20px;
	transform: scale3d(0,0,0);
	transition: all 0.4s;
}

#admin_inputbox > #input_area {
	flex: 2;
	align-self: stretch;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	font-size: 19px;
}

#admin_inputbox > #input_area > input {
	height: 30px;
	padding: 10px;
	border: 3px solid #eee;
	border-radius: 10px;
	font-size: 18px;
}

#admin_inputbox > #admin_control {
	flex: 1;
	align-self: stretch;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}

#admin_inputbox > #admin_control > button {
	width: 100px;
	height: 30px;
	background-color: #eee;
	border: none;
	cursor: pointer;
	border-radius: 5px;
	transition: all 0.4s;
}

#admin_inputbox > #admin_control > button:hover {
	background-color: #aaa;
	color: #eee;
	font-size: 16px;
}

#admin_questionbox, #admin_uploadbox {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 400px;
	height: 500px;
	margin: -260px 0 0 -210px;
	border-radius: 10px;
	background-color: #eee;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
	transform: scale3d(0,0,0);
	transition: all 0.3s;
}

#admin_questionbox > #input_area {
	flex: 8;
	align-self: stretch;
}

#admin_questionbox > #input_area > #manual_question {
	width: 100%;
	height: 100%;
	padding: 5px;
	box-sizing: border-box;
	border: 1px solid #eee;
	border-radius: 10px;
	font-size: 16px;
	resize: none;
}

#admin_questionbox > .control_area {
	justify-content: space-around;
	align-self: stretch;
}

#admin_questionbox > .title, #admin_uploadbox > .title {
	font-size: 30px;
	font-weight: bold;
	align-self: stretch;
}

.control_btn, .upload_control_btn {
	width: 80px;
	height: 30px;
	color: #fff;
	background-color: rgb(156, 161, 171);
	border-radius: 10px;
	box-shadow: 1px 1px 3px #aaa;
	cursor: pointer;
	border: none;
	box-sizing: border-box;
	transition: all 0.3s;
}

#admin_uploadbox > #upload_btn {
	margin: 30px 0;
	align-self: stretch;
}

.control_btn:hover, .upload_control_btn:hover {
	color: #444;
	background-color: rgb(216, 221, 221);
}

.upload_control_area {
	align-self: stretch;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}


#admin_uploadbox > #preview_area {
	width: 100%;
	height: 100%;
	border: 1px solid #aaa;
	border-radius: 10px;
	overflow: auto;
	align-self: stretch;
}

#admin_uploadbox > #preview_area > .file_item {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 10px 5px;
}

#test_area {
	display: flex;
	flex-direction: column;
}

#test_area > #question_section {
	flex: 14;
	display: flex;
	flex-direction: column;
	overflow: auto;
}

#test_area > #question_section > .question_item {
	padding: 20px 10px;
}

#test_area > #question_section > .question_item > .question_radio {
	display: flex;
	flex-direction: column;
}

#test_area > .test_control_area {
	flex: 1;
	display: flex;
	flex-direction: row;
	padding: 20px;
	justify-content: space-around;
}

.answer_radio {
	cursor: pointer;
	margin: 0 10px;
}

.score_display {
	font-size: 27px;
}

.result_btn {
	margin: 20px 0;
}

#result_div {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 600px;
	height: 600px;
	margin: -350px 0 0 -300px;
	transition: all 0.3s;
	transform: scale3d(0,0,0);
	z-index: 9999;
}

#result {
	width: 100%;
	height: 100%;
}

#result_div > .l_btn {
	float: left;
}

#result_div > .r_btn {
	float: right;
}
